{% extends 'base.html.twig' %}
{% block title %}{{default}}{% endblock %}

{% block body %}
<div class="container">

    <div class="jumbotron mt-4">
        <h1 class="display-4">Dashbord!</h1>
        <p class="lead">Page Dashbord pour le managment</p>
        <hr class="my-4">
        <p>Commencer!</p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Login</a>
   </div>

</div>


{% endblock %}
